
/* Base styles  */

html {
  position: relative;
  margin:0;
  overflow:hidden;
  height:100%;
}

body {
  font: 14px/1 sans-serif;
  color:dimgrey;
  background-color:black;
  margin-bottom: 60px;
  margin:10px;
  
  height:100%;
 
}

#app{
  
   background-image:linear-gradient(to bottom,black, black, dimgrey);
   height:100%;
   
}

h1{
  color:white;
  background-color:rgba(0,0,0,0.2);
}

.pointer{
    cursor: pointer;
}

.ContentContainer{
    color:white;
    padding:5px;
    padding-top:25px;
    margin:10px 0px;
    text-align: center;
}

.ContentContainerHigher{
    color:white;
    padding:5px;
    padding-top:25px;
    margin:10px 0px;
    text-align: center;
}

.container{
  max-width:750px;
}


/* Header   */

.header{
  
  background-color:black;
 }

.brand{
  width:100%;
  max-width:400px;
}

.horizontalRule{
  border-top:1px solid dimgrey;
  margin-top: 0px;
}


.verticalAlign{
  display: flex;
  align-items: center;
  vertical-align: bottom;
  float: none;
}

#leftElement{
  color:white;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  
}

#leftElement:hover{
  color:silver;
  transition-duration: 0.5s;
}

#rightElement{
  color:white;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  
}

#brandText{
  font-family: 'Amatic SC', cursive;
  font-weight:bold;
  font-size:46px;
  text-shadow: 3px 3px 5px silver;
  transition-duration: 1s;

}



/* Home page  */


.homeLinks{
  color:silver;
  margin-top:50px;
  font-size: 58px;
  
  
  font-family: 'Amatic SC', cursive;
  transition-duration: 1s;
}

.homeLinks:hover{

  color:dimgrey; 
  
}

.homeIcon1{
    padding-top:5px;
   padding-left:15px;
}

.homeIcon2{
   padding-right:15px;
}

.homeIcon3{
   padding-left:15px;
}

.Greeting{
  font-size:16px;
  font-family: 'Actor', sans-serif;

}




/* About me page */

.About{
  font-size:16px;
  text-align: left;
  font-family: 'Actor', sans-serif;
}

.profileImage{
  width:100%;
  max-width:100px;
}


#contactLink{
   color:grey;
   transition-duration: 1s;
}

#contactLink:hover{
   color:red;
   text-decoration:none;
}



/* Contact page */

.contactPage{
  font-size:16px;
  text-align: justify;
  font-family: 'Actor', sans-serif;
}

#whatsapp{
    color:limegreen;
    font-weight:bold;
}

#whatsapp:hover{
    text-decoration:none;
    color:darkgreen;
}

#emailLink{
   font-family: 'Righteous', cursive;
   color:white;
   
}

#emailLink:hover{
   text-decoration:none;
   text-shadow:1px 1px 5px silver;
  
}

.formError{
  border-color: red;
  border-width: 2px;
  border-style: solid;
}



/* Content page */

.content{
  font-size:16px;
  font-family: 'Actor', sans-serif;
}

#left{

  padding-top:100%;
  padding-right:100%;
}

#right{
  padding-top:100%;
  padding-left:70%;
}

.siteLinks{
  color:white;
}

.siteLinks:hover{
  text-decoration:none;
  color:silver;
}

.siteBox{
  border:1px solid white;
}



/* Footer styles */

.footer{
  background-color:black;
  position:absolute;
  height:30px;
  width:100%;
  bottom:-10px;
}

.footerLinks{
  color:grey;
  padding-left:15px;
}

.footerLinks:hover{
    text-decoration: none;
    color:red;
}




