
/* Base styles  */

html {
  position: relative;
  margin:0;
  
  height:100%;
}

body {
  font: 14px/1 sans-serif;
  color:dimgrey;
  background-color:black;
  margin-bottom: 45px;
  height:90%; 
  overflow-x:hidden; 
  
 
}

#app{
   background-image: url('../Images/backgrounds/seven.jpg');
   font-family: 'Reem Kufi', sans-serif;
   background-repeat: no-repeat;
   min-height:100%;
   margin-bottom: 45px;
}



h1{
    color:white;
    background-color:rgba(0,0,0,0.2);
}

.pointer{
    cursor: pointer;
}

.ContentContainer{
    color:white;
    padding:5px;
    padding-top:25px;
    margin:10px 0px;
    text-align: center;
    height:100%;
    
}



.container{
  max-width:750px;
 
}


/* Header   */

.brand{
    width:100%;
    max-width:400px;
}

.horizontalRule{
    border-top:1px solid dimgrey;
    margin-top: 0px;
}


.verticalAlign{
    display: flex;
    align-items: center;
    vertical-align: bottom;
    float: none;

}

#leftElement{
    color:white;
    font-size: 19px;
    font-weight: bold;
    transition: 0.5s;
}

#leftElement:hover{
    color:red;
    
}

#leftElement:active{
    transform: translate(0px,5px);
}

#rightElement{
    color:white;
    font-size: 19px;
    font-weight: bold;
  
  
}

#brandText{
  
    font-family: 'Reem Kufi', sans-serif;
    font-weight:bold;
    font-size:38px;
    transition-duration: 1s;
 

}



/* Home page  */


.homeLinks{
    color:silver;
    margin-top:50px;
    font-size: 58px;
    text-shadow: 1px 1px 2px black;
    transition-duration: 0.5s;
}

.homeLinks:hover{

    color:dimgrey;
  
  
}

.homeLinks:active{

    transform:translate(0px,5px);
  
  
}

.homeIcon1{
    padding-top:5px;
    padding-left:15px;
}

.homeIcon2{
    padding-right:15px;
}

.homeIcon3{
    padding-left:15px;
}

.Greeting{
    font-size:16px;
  

}




/* About me page */

.About{
    font-size:18px;
    text-align: left;
    text-shadow: 2px 2px 2px black;
  
}

.profileImage{
    width:100%;
    max-width:100px;
    float:right;
    padding:5px;
}



#contactLink{
    color:grey;
    transition-duration: 1s;
}

#contactLink:hover{
    color:red;
    text-decoration:none;
}



/* Contact page */

.contactPage{
    font-size:18px;
    text-align: justify;
  
}

#whatsapp{
    color:white;
    font-weight:bold;
    transition:1s;
}

#whatsapp:hover{
    text-decoration:none;
    color:red;
}

#emailLink{
  
   color:white;
   transition: 1s;
   
}

#emailLink:hover{
   text-decoration:none;
   color:red;
  
}

.formError{
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

#contactButton{
  background-color: grey;
  color:white;
  transition:1s;
}

#contactButton:hover{
  background-color:red;
  
}


/* Content page */

.content{
    font-size:16px;
    line-height:22px;
    text-shadow: 1px 1px 2px black;
}

#left{
  
    padding-top:100%;
    top:30%;
    transition:0.5s;
}

#right{
 
    padding-top:100%;
    top:30%;
    transition:0.5s;

}

#left:active{
  
    transform: translate(0px,5px);
}

#right:active{
 
    transform: translate(0px,5px);
}


.col-1{
    padding:5px;
}

.siteLinks{
    color:white;
}

.siteLinks:hover{
    text-decoration:none;
    color:white;

}

.siteBox{
    border:1px solid white;
}




.hidden{
    visibility: hidden;
 
}

.visible{
    visibility: visible;
   
}





/* Footer styles */

.footer{
    background-color:black;
    font-size:16px;
    position:fixed;
    height:30px;
    width:100%;
    bottom:0px;
}

.footerLinks{
    color:grey;
    padding-left:15px;
    transition:1s;
}

.footerLinks:hover{
    text-decoration: none;
    color:red;
}



.blogComp{
  background-color:red;
}


/* Mobile styles tweaks */

@media screen and (max-width:480px){

  #brandText{
      font-size:22px;
  }

  .homeLinks{
      margin-top:12px;
      font-size:38px;
  }

  .hidden{
    
      visibility: visible;
   
  }
  .content{
      font-size:14px;
      line-height:18px;
  
  }



}