
html {
  position: relative;
  margin:0;
  overflow: hidden-x;
  height:100%;
}

body {
  font: 14px/1 sans-serif;
  color:dimgrey;
  background-color:black;
  margin-bottom: 60px;
  margin:10px;
  overflow: hidden;
  height:100%;
 
}

#app{
  
   background-image:linear-gradient(to bottom,black, black, dimgrey);
   height:100%;
   
}

h1{
  color:white;
  background-color:rgba(0,0,0,0.2);
}

.pointer{
    cursor: pointer;
}

.ContentContainer{
    color:white;
    padding:5px;
    padding-top:25px;
    margin:10px 0px;
    text-align: center;
}

.container{
  max-width:750px;
}

.header{
  
  background-color:black;
 }

.brand{
  width:100%;
  max-width:400px;
}

.horizontalRule{
  border-top:1px solid dimgrey;
  margin-top: 0px;
}

.siteBoxes{
    background-color: rgba(255,255,255,0.2);
    width:100%;
    margin:0px;
}

.formError{
  border-color: red;
  border-width: 2px;
  border-style: solid;
}


.homeLinks{
  color:silver;
  margin-top:50px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
 
}

.homeLinks:hover{
  color:dimgrey; 
}

.homeIcon1{
    padding-top:5px;
   padding-left:15px;
}

.homeIcon2{
   padding-right:15px;
}

.homeIcon3{
   padding-left:15px;
}

.Greeting{
  font-size:16px;
  font-family: 'Actor', sans-serif;

}

.verticalAlign{
  display: flex;
  align-items: center;
  vertical-align: bottom;
  float: none;
}

#leftElement{
  color:white;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  /*;*/
}

#leftElement:hover{
  text-shadow: 2px 2px rgba(255,0,0,0.5);
}

#rightElement{
  color:white;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  /*text-shadow: 2px 2px rgba(255,0,0,0.3);*/
}




.About{
  font-size:16px;
  text-align: left;
  font-family: 'Actor', sans-serif;

  
}

.profileImage{
  
  width:100%;
  max-width:100px;

  
}


.contactPage{
  font-size:16px;
  text-align: justify;
  font-family: 'Actor', sans-serif;
}

.email{
   font-family: 'Righteous', cursive;
}


.content{
  font-size:16px;
  font-family: 'Actor', sans-serif;
}



#left{

  padding-top:100%;
  padding-right:100%;
}

#right{
  padding-top:100%;
  padding-left:70%;
  
}

.siteLinks{
  color:white;
}

.siteLinks:hover{
  text-decoration:none;
  color:dimgrey;
}

.siteBox{
  border:1px solid white;
}

.footer{
  background-color:black;
  position:absolute;
  height:20px;
  width:100%;
  bottom: 0px;
}

